*{
    margin: 0px;
}

html{
    height: 100%;
    background-color: #0046ae;
    /*background-color:  #9198e5;*/
}

#container {
    height: 400px;
    width: 270px;
    background: linear-gradient(rgba(171, 179, 192, 0.694), rgba(220, 234, 248, 0.674));
    border-radius: 20px;
}

#container:hover {
   background: linear-gradient(rgba(171, 179, 192, 0.796), rgba(220, 234, 248, 0.792));
}

#album {
    width: 210px;
    padding: 30px;
}


#player {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#song-name {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}


#song-artist {
    color: #666666;
    font-size: smaller;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

#song-artist:hover {
    color: #2e2e2e;
}

ul {
    list-style: none;
}

.play,
.back,
.for{
    border-color: #ffffff;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin: 10px;
}


.back
.for
.play:hover {
    border-color: #bebebe;
}
